body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: url('images/images%20(1).png') 0 0 / cover  no-repeat;
}

.container{
    background-color: #dbdad8;
    width: 350px;
    height: 600px;
    border-radius: 3% 3% 20% 3%;
    position: relative;
    border: 1px solid gray;
    margin: 3% auto 0;
    box-shadow: 3px 4px;
}

.display-container {
    width: 99%;
    height: 45%;
    position: relative;
    border-radius: 3%;
    margin: 0;
    padding: 0;
}

.display-outer {
    height: 80%;
    width: 80%;
    margin: 10% 10% 0;
    border-radius: 5% 5% 20%;
    background-color: #525460;
    padding-top: 3%;
    position: relative;
}

.display-inner {
    width: 70%;
    height: 75%;
    border-radius: 1%;
    margin: 7% 0 0 15%;
    background-color: #4F6415;
    border: 1px solid black;
    position: relative;
    overflow: auto;
}

.output, .output2 {
    font-family: monospace;
    text-align: right;
    font-size: 2em;
    position: relative;
    width: 100%;
    word-wrap: break-word;

}

.output2 {
    margin-top: 50%;
}

.operands {
    text-align: center;
}

.logo {
    width: 55%;
    margin: 1% 0 0 8%;
}

.operands button {
    padding: 5px 8px;
}

button {
    background-color: #C3C0BB;
    color: #202B87;
    font-weight: bold;
    border-radius: 20% 20% 40%;
    font-size: 1.2em;
}

button:focus {
    outline: 0;
}

.ope{
    width: 125px;
    height: 150px;
    position: relative;
    text-align: center;
    background: url('images/dpad.png') 8px 17px /100% auto no-repeat;
}

.ope button{
    color: #dbdad8;
    border: none;
    background: none;
    font-size: 2em;
}

.operator {
    padding: 0;
}

.plus {
    margin: 24% 0 0 10%;
}

.minus {
    float: left;
    margin: -2% 0 0 19%;
}

.divide {
    float: right;
    margin-right: 13%;
}

.multiply {
    margin: 13% 0 4% 0;
}

section {
    display: inline-block;
}

.ope, .rat {
    margin: 0;
}

.rat {
    float: right;
    margin-top: 10%;
    transform: rotateZ(-28deg);
}

.b-button {
    border: none;
    background: none;
    padding: 0;
    width: 66px;
}

.b-button>img {
    width: 85%;
    height: auto;
}

.ors {
    margin: -8% 0 0 26%;
    z-index: 3;
    position: relative;
}

.ors img {
    width: 66%;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    width: 60px;
}

.clear span {
    padding-left: 20px;
}

.tilt {
    transform: rotateZ(-30deg);
    display: inline-block;
}

.select, .start {
    width: 50%;
}

.vent {
    width: 39%;
    position: absolute;
    bottom: 7px;
    right: 10px;
}

.operator {
    position: relative;
    perspective: 200px;
    transition: 0.2s ease-in-out;
}

.shift-up {
    transform: rotateX(35deg);
}

.shift-right {
    transform: rotateY(35deg);
}

.shift-down {
    transform: rotateX(-35deg);
}

.shift-left {
    transform: rotateY(-35deg);
}

.alert-output, .alert-enter {
    position: absolute;
    color: red;
    width: 100%;
    height: 20px;
}

.alert-enter {
    margin: 0 4%;
}

.alert-output {
    margin: 2% 13%;
}
